In [11]:
import pandas as pd

df = pd.read_csv('data/credit_risk_dataset.csv')

In [7]:
mock = pd.read_csv('mock_batch.csv')
mock

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,cb_person_cred_hist_length,person_home_ownership,loan_intent,cb_person_default_on_file
0,56,138370.32,15,27912.11,29.12,23,RENT,DEBTCONSOLIDATION,N
1,69,122295.55,17,36015.20,29.06,51,OWN,PERSONAL,N
2,46,36861.46,23,33349.67,6.01,11,MORTGAGE,VENTURE,N
3,32,86188.84,25,14716.76,19.32,29,RENT,DEBTCONSOLIDATION,Y
4,60,67736.43,24,47788.40,4.90,38,OWN,EDUCATION,N
...,...,...,...,...,...,...,...,...,...
95,31,145275.36,0,22973.83,3.87,15,MORTGAGE,EDUCATION,N
96,40,93611.53,23,15367.33,15.42,19,MORTGAGE,EDUCATION,N
97,74,51192.98,14,17104.56,29.75,7,OWN,DEBTCONSOLIDATION,N
98,57,48158.67,31,33953.40,35.58,6,OTHER,MEDICAL,N
99,38,65043.72,31,37866.35,7.96,2,RENT,MEDICAL,N

In [6]:
import numpy as np
import pandas as pd

np.random.seed(42)  # for reproducibility

n = 100

home_ownership_options = ["RENT", "OWN", "MORTGAGE", "OTHER"]
loan_intent_options = [
    "PERSONAL", "EDUCATION", "MEDICAL",
    "VENTURE", "HOMEIMPROVEMENT", "DEBTCONSOLIDATION"
]
default_options = ["Y", "N"]

# Age first
person_age = np.random.randint(18, 76, size=n)

# Emp length: 0 up to (age - 1), but also cap at 40 if you like
person_emp_length = np.array([
    np.random.randint(0, min(age, 41)) for age in person_age
])

# Credit history length: 0 up to (age - 1)
cb_person_cred_hist_length = np.array([
    np.random.randint(0, age) for age in person_age
])

data = {
    "person_age": person_age,
    "person_income": np.random.uniform(20_000, 200_000, size=n).round(2),
    "person_emp_length": person_emp_length,
    "loan_amnt": np.random.uniform(1_000, 50_000, size=n).round(2),
    "loan_int_rate": np.random.uniform(3.0, 36.0, size=n).round(2),
    "cb_person_cred_hist_length": cb_person_cred_hist_length,
    "person_home_ownership": np.random.choice(home_ownership_options, size=n),
    "loan_intent": np.random.choice(loan_intent_options, size=n),
    "cb_person_default_on_file": np.random.choice(default_options, size=n, p=[0.2, 0.8]),
}

df = pd.DataFrame(data)
df.to_csv("mock_batch.csv", index=False)
print("Saved mock_batch_applications_age_consistent.csv")

Saved mock_batch_applications_age_consistent.csv