In [1]:
import pandas as pd

df = pd.read_csv('data/credit_risk_dataset.csv')

In [2]:
filtered_df = df[df['loan_status'] == 1]
top10_rows = filtered_df.nlargest(10, 'person_income')

top10_rows

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
25714,32,703800,RENT,14.0,MEDICAL,D,12000,15.33,1,0.01,Y,9
17840,35,648000,MORTGAGE,6.0,PERSONAL,E,10000,17.19,1,0.02,Y,8
27881,28,604000,MORTGAGE,12.0,PERSONAL,B,25000,9.01,1,0.04,N,9
28770,28,604000,MORTGAGE,12.0,PERSONAL,B,25000,9.01,1,0.04,N,9
29127,44,584800,MORTGAGE,4.0,MEDICAL,C,20000,NaN,1,0.03,Y,16
29129,40,540600,MORTGAGE,8.0,MEDICAL,D,35000,15.99,1,0.06,Y,11
31914,42,499800,OWN,4.0,MEDICAL,F,24000,18.43,1,0.04,Y,11
17849,33,468000,MORTGAGE,14.0,DEBTCONSOLIDATION,D,3750,15.62,1,0.01,Y,10
29132,39,403750,MORTGAGE,10.0,MEDICAL,B,35000,NaN,1,0.07,N,11
27876,34,397800,MORTGAGE,5.0,MEDICAL,D,14000,14.61,1,0.03,Y,5